#Kiro logs
.kiro/run-logs/*
.kiro/run-logs

#Javva symlink
.java-current

#temp processing document
Durion-Processing.md
PR-Review-Processing.md

.venv/
venv/

.vscode/
.idea/

.agent-tmp/

archived-frontend-issues/

# Local AWS CLI install artifacts
aws/
awscliv2.zip

notes.txt
notes.txt


docs/capabilities/stories